:root {
  --accent-cl: #4ae290;

  /* TEXT COLORS */
  --primary-txt-cl: #595962;
  --secondary-txt-cl: #ffffff;
  --title-txt-cl: #131316;
  --subtitle-txt-cl: #DEDEE3;
  --copy-txt-cl: #9797a2;

  /* BACKGROUND COLORS */
  --accent-bg: #4ae290;
  --primary-bg: #131316;
  --secondary-bg: rgba(19, 19, 22, 0.05);

  /* FONTS */
  --main-font: 'Lato', sans-serif;

  --card-set-item: 1;
  --gap-left: 30px;
  --gap-top: 30px;

  /* ANIMATIONS SPEED */
  --fast: 0.3s;
  --slow: 0.5s;
}
